@model Activity

@{
    string modalTitle = ViewBag.idx != 0 ? "Edit Activity" : "Add New Activity";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@modalTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    @using (Html.BeginForm("ModalAction", "Activities", FormMethod.Post))
    {
            <div class="modal-body">
                <div class="form-group row">
                    <label for="room" class="col-sm-2 col-form-label">Room</label>
                    <div class="col-sm-10">

                        <select name="room" @(ViewBag.selectedOption == OptionEnum.Rooms ? "disabled" :
                                "")>
                            @if (ViewBag.idx == 0 && ViewBag.selectedOption != OptionEnum.Rooms)
                            {
                                <option value="" disabled selected>Select a room</option>

                            }
                                @foreach (var room in ViewBag.Rooms)
                            {

                                if (ViewBag.idx != 0 && room.Id == Model.Room.Id)
                                {
                                            <option value="@room" selected>@room</option>
                                }
                                else if (ViewBag.idx == 0 && ViewBag.selectedOption == OptionEnum.Rooms){
                                            <option value="@ViewBag.selectedEntity.Id">@ViewBag.selectedEntity.Name</option>
                                }
                                else {
                                            <option value="@room">@room</option>
                                }
                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="classGroup" class="col-sm-2 col-form-label">Group</label>
                                    <div class="col-sm-10">

                                        <select name="classGroup" @(ViewBag.selectedOption == OptionEnum.ClassGroups ? "disabled" : "")>
                                           @if (ViewBag.idx == 0 && ViewBag.selectedOption != OptionEnum.ClassGroups)
                            {
                                        <option value="" disabled selected>Select a group</option>

                            }
                                        @foreach (var classGroup in ViewBag.ClassGroups)
                            {
                                if (ViewBag.idx != 0 && classGroup.Id == Model.ClassGroup.Id)
                                {
                                            <option value="@classGroup" selected>@classGroup</option>
                                }
                                else if (ViewBag.idx == 0 && ViewBag.selectedOption == OptionEnum.ClassGroups){
                                            <option value="@ViewBag.selectedEntity.Id">@ViewBag.selectedEntity.Name</option>
                                }
                                else {
                                            <option value="@classGroup">@classGroup</option>
                                }
                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                                    <div class="col-sm-10">

                                        <select name="subject">
                                            @if (ViewBag.idx == 0)
                            {
                                        <option value="" disabled selected>Select a class</option>

                            }
                                        @foreach (var subject in ViewBag.Subjects)
                            {
                                if ( ViewBag.idx != 0 && subject.Id == Model.Subject.Id)
                                {
                                            <option value="@subject" selected>@subject</option>
                                }
                                else {
                                            <option value="@subject">@subject</option>
                                }
                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="teacher" class="col-sm-2 col-form-label">Teacher</label>
                                    <div class="col-sm-10">


                                        <select name="teacher" @(ViewBag.selectedOption == OptionEnum.Teachers ? "disabled" : "")>
                                            @if (ViewBag.idx == 0 && ViewBag.selectedOption != OptionEnum.Teachers)
                            {
                                        <option value="" disabled selected>Select a teacher</option>

                            }
                                        @foreach (var teacher in ViewBag.Teachers)
                            {
                                if (ViewBag.idx != 0 && teacher.Id == Model.Teacher.Id)
                                {
                                            <option value="@teacher" selected>@teacher</option>
                                }
                                else if (ViewBag.idx == 0 && ViewBag.selectedOption == OptionEnum.Teachers){
                                            <option value="@ViewBag.selectedEntity.Id">@ViewBag.selectedEntity.Name</option>
                                }
                                else {
                                            <option value="@teacher">@teacher</option>
                                }
                            }
                                        </select>

                                    </div>
                                </div>

                            </div>

                                <input type="hidden" name="selectedOption" value=@ViewBag.selectedOption />
                                <input type="hidden" name="selectedEntity" value=@ViewBag.selectedEntity />
                                <input type="hidden" name="idx" value=@ViewBag.idx />
                                <input type="hidden" name="slot" value="@Model.Slot" />

                            <div class="modal-footer">
                                <input type="submit" name="deleteButton" value="Delete" class="btn btn-secondary" @(ViewBag.idx == 0 ? "disabled" : "")>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" name="saveButton" id="saveButton" value="Save" class="btn btn-primary" disabled="disabled">
                            </div>
    }
                    </div>
                </div>


<script type="text/javascript">
    $('form').submit(function(e) {
        $(':disabled').each(function(e) {
            $(this).removeAttr('disabled');
        })
    });

    (function() {
        $('select').change(function() {

            var empty = false;
            $('select').each(function() {
                if ($(this).val().startsWith('Select')) {
                    empty = true;
                }
            });

            if (empty) {
                $('#saveButton').attr('disabled', 'disabled');
            } else {
                $('#saveButton').removeAttr('disabled');
            }
        });
    })()
</script>