@model Activity
@{
    ViewBag.Title = "Activities panel";
    ViewData["Title"] = "Activities panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string[] headerSlots = { "time", "Mo", "Tu", "We", "Th", "Fr" };
    string[] activitiesTimes = { "8:00-8:45", "8:55-9:40", "9:50-11:35",
        "11:55-12:40", "12:50-13:55", "13:45-14:30",
        "14:40-15:25", "15:35-16:20", "16:30-17:15" };
    @* const int rows = 9; *@
    const int cols = 5;
}

<h2>Activities panel</h2>

@if (TempData["ConcurrencyAlert"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        Concurrency warning: @TempData["ConcurrencyAlert"]
    </div>
}
@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        @TempData["Alert"]
    </div>
}

<div class="row ml-1 form-group">
    @using (Html.BeginForm("SelectOption", "Activities", FormMethod.Post))
    {
        <div class="col-md-1.5 pr-2">
            @Html.DropDownList("selectedOption",
        new SelectList(
            Enum
            .GetValues(typeof(OptionEnum))
            .Cast<OptionEnum>()
            .Where(item => item != OptionEnum.Subjects), ViewBag.optionList.selectedOption
            ),
        new { onchange="this.form.submit();" })

        </div>
    }

    @using (Html.BeginForm("SelectOptionValue", "Activities", FormMethod.Post))
    {
        <div class="col-md-1.5">
            @* <label>@Model.selected</label> *@
            @Html.DropDownList("selectedEntityId",
        new SelectList(ViewBag.optionList.entities, nameof(Entity.Id), nameof(Entity.Name),
            ViewBag.optionList.selectedEntity.Id),
        new { onchange="this.form.submit();" })
            <input type="hidden" name="selectedOption" value=@ViewBag.optionList.selectedOption />
        </div>
    }
</div>



<div class="wrapper">
    @* Mo, Tu, We, Th, Fr, Sa, Su *@
    @foreach (var slot in headerSlots)
    {
        <div class="slot header">@slot</div>
    }

    @{
        int i = 0;
    }
    @foreach (var tuple in ViewBag.activityLabels)
    {
        if (i % cols == 0)
        {
            @* 8:00-8:45, 8:55-8:9:40, 9:50-11:35, 11:55-12:40, 12:50-13:55,
                13:45-14:30, 14:40-15:25, 15:35-16:20, 16:30-17:15 *@
            <div class="slot index">@(activitiesTimes[i/cols])</div>
        }

        <a href="" class="fill-div slot" data-toggle="modal" data-target="#activityModal"
            data-url='@(Url.Action("ActivityModal", new {ViewBag.optionList.selectedOption, 
              selectedEntityId=ViewBag.optionList.selectedEntity.Id, idx=@tuple.Item2, slot=@i+1}))'>

            @tuple.Item1
        </a>
        i++;
    }


</div>

<!-- Modal -->
<div class="modal" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
</div>