@using System.Collections.Generic;
@model OptionList;
@{
    ViewBag.Title = "Manage panel";
    ViewData["Title"] = "Manage panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage panel</h2>

@using (Html.BeginForm("SelectOption", "Manage", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(model => model.selected, new SelectList(Enum.GetValues(typeof(Option))),
    new { onchange="this.form.submit();" })
    </div>
}

@using (Html.BeginForm("Add", "Manage", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Add new ")
        @Html.TextBox("newValue")
        <input type="hidden" name="selected" value=@Model.selected />
        <button type="submit" class="btn btn-link">Submit</button>
    </div>
}

@using (Html.BeginForm("Delete", "Manage", FormMethod.Post))
{
    <input type="hidden" name="selected" value=@Model.selected />
    <div>
        <table class="table table-hover">
            <tr>
                <th>
                    @Model.selected
                </th>
                <th>
                    Action
                </th>
            </tr>
            @foreach (var item in Model.values)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        <input type="hidden" name="valueToDelete" value=@item />
                        @* @Html.ActionLink("Delete", "Delete", new {selected=Model.selected, valueToDelete=item}) *@
                        <button type="submit" class="btn btn-link">Delete</button>
                    </td>
                </tr>
            }

        </table>
    </div>
}
