@using System.Collections.Generic;
@model Entity;
@{
    ViewBag.Title = "Manage panel";
    ViewData["Title"] = "Manage panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage panel</h2>

@if (TempData["ConcurrencyAlert"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        Concurrency warning: @TempData["ConcurrencyAlert"]
    </div>
}

@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        @TempData["Alert"]
    </div>
}

@using (Html.BeginForm("SelectOption", "Manage", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownList("selectedOption",
    new SelectList(Enum.GetValues(typeof(OptionEnum)), ViewBag.optionList.selectedOption),
    new { onchange="this.form.submit();" })
    </div>
}

@using (Html.BeginForm("Add", "Manage", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Add new ")
        @Html.TextBoxFor(model => model.Name)
        <input type="hidden" name="selectedOption" value=@ViewBag.optionList.selectedOption />
        <button type="submit" class="btn btn-link">Submit</button>
    </div>
}

@using (Html.BeginForm("Delete", "Manage", FormMethod.Post))
{
    <input type="hidden" name="selectedOption" value=@ViewBag.optionList.selectedOption />
    <div>
        <table class="table table-hover">
            <tr>
                <th>
                    @ViewBag.optionList.selectedOption
                </th>
                <th>
                    Action
                </th>
            </tr>
            @foreach (var item in ViewBag.optionList.entities)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @* <input type="hidden" name="valueToDelete" value=@item /> *@
                        <button type="submit" name="id" value="@item.Id" class="btn btn-link">Delete</button>
                    </td>
                </tr>
            }

        </table>
    </div>
}
